h1 {
  font-family: Lato;
  text-align: center;
}
input {
  margin: 20px;
  padding: 5px 10px;
}
button {
  background-color: blue;
  color: white;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 15px;
  margin: 10px 0;
  cursor: pointer;
}
